<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('In_purchase_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-in_purchase_id" data-rule="required" data-source="in/purchase/index" class="form-control selectpage" name="row[in_purchase_id]" type="text" value="{$row.in_purchase_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transaction_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transaction_no" data-rule="required" class="form-control" name="row[transaction_no]" type="text" value="{$row.transaction_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_name" data-rule="required" class="form-control" name="row[shop_name]" type="text" value="{$row.shop_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Good_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-good_name" data-rule="required" class="form-control" name="row[good_name]" type="text" value="{$row.good_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-category" data-rule="required" class="form-control" name="row[category]" type="text" value="{$row.category|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-attr" data-rule="required" class="form-control" name="row[attr]" type="text" value="{$row.attr|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-unit" data-rule="required" class="form-control" name="row[unit]" type="text" value="{$row.unit|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" data-rule="required" class="form-control" step="0.01" name="row[num]" type="number" value="{$row.num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Supplier_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_name" data-rule="required" class="form-control" name="row[supplier_name]" type="text" value="{$row.supplier_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_no" data-rule="required" class="form-control" name="row[goods_no]" type="text" value="{$row.goods_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Optime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-optime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[optime]" type="text" value="{$row.optime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operator_id" data-rule="required" data-source="operator/index" class="form-control selectpage" name="row[operator_id]" type="text" value="{$row.operator_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Flag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-flag" data-rule="required" class="form-control" name="row[flag]" type="number" value="{$row.flag|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" data-rule="required" class="form-control" step="0.00001" name="row[weight]" type="number" value="{$row.weight|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
